.profile-form-wrap {
    background: #fff;
    padding: 20px;
    border: 1px solid #e6e6e6;
}

.profile-form-wrap label {
    font-weight: bold;
}

.edit-profile-wrapper {
    margin-top: 60px;
}

.former-profile-photo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
