.navbar {
  background-color: #09f;
}
.navbar__brand {
  height: 65px;
  width: 210px;
  background-size: 220px;
}
.navbar__main {
  font-size: 25pt;
  color: black;
  text-decoration: none;
}
.navbar__main:hover {
  color: black;
  text-decoration: none;
}
.navbar-toggler {
  border-color: black;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0,0,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-nav {
  background-color: #09f;
}
.navbar-nav a {
  color: black;
  margin: 0px 20px;
}
